*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
   
}


li, a , p , button {

    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;

}

body {
    background-image: url(Frenchie.page2/Images/wallpaper2.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow-x: hidden;
  
}

nav
{
    background: black;
    width: 100%;
    height: 70px;
    opacity: 0.9;
   
}

.logo
{
    line-height: 30px;
    padding: 0 0px;
    opacity: none;
    
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 16px;
   
}

.main-nav ul
{
    margin: 0;
    padding: 0px;
    list-style: none;
}

.main-nav ul li 

{
    float: left;
    width: 200px;
    line-height:15px;
    background-color: black;
    opacity: 0.8;
    text-align: center ;
    text-decoration: none;
}

.main-nav ul li a 
{   
   
    transition: all 0.3s ease 0s;
    color: white;
    padding: 20px ;
    font-family:"Montserrat", sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
}


.main-nav ul li a:hover {

    background-color: rgb(214, 175, 201);
}

.main.nav li a:hover
{   
    display: block;
    color:rgb(214, 175, 201)
}

.main-nav ul li ul li
{
    display: none;
}

.main-nav ul li:hover ul li 
{
    display: block;
}

button 
{
    padding: 9px 20px;
    background-color: rgb(214, 175, 201);
    border: black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 case 0s;
}

.logo img
{ 
        width: 80px;
        height: 80px;
        float: left;
}

.header
{   
    background: rgb(214, 175, 201);
    color:black;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 100px;
    font-size: 50px;
    text-align: center;
    font-size: 20px;
    font-style:initial;
    border-radius: 20px;
    opacity: 0.9;
    
}

.header-flex
{
    display: flex ;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    
 
}

.header-flex img

{
    border-radius: 10px;
}

.container
{
    position: center;
    width: 1200px;
    height: 300px;
    margin:240px auto;
    background:#000;
    opacity: 0.9;
    border-radius: 10px;
 
}

.container .box
{
    position: center;
    width: calc(400px - 30px);
    height: calc(300px - 30px );
    background: rgb(245, 245, 245); 
    float: left;
    margin: 15px;
    box-sizing: border-box ;
    overflow: hidden;
    border-radius: 10px;
   

}


.box {
    
    border: 5px solid rgb(0, 0, 0);
    padding: 40px;
    margin-right: 50px;
    margin-left: 50px;
    
}

.box {
    border: 5px solid rgb(0, 0, 0);
    padding: 40px;
    margin-right: 50px;
    margin-left: 50px;
    

}
.box
{
    border: 5px solid rgb(0, 0, 0);
    padding: 40px;
    margin-right: 50px;
    margin-left: 50px;
}



.footer {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
    


    


    